article#resume-link.resume
  h2 Resume

  section.resumeSection.experience
    h3 Experience

    dl 
      //-Freelance Designer
      dt
        h4 Freelance Designer at 
          a(href='http://perpetuatingcuriosity.com') Perpetuating Curiosity
          span.dates 2012 &#8211; present

      dd 
        p Provided services in the areas of information design, branding, and print for clients within the startup and graphic design industries
      
      //-Fellow
      dt
        h4 Fellow at  
          a(href='http://myplanetdigital.com') Myplanet Digital
          span.dates January 2014 &#8211; March 2014

      dd 
        p Worked with a team of fellows to design and develop a fully functional digital product from conception to completion in 12 weeks. The 
          a(href='http://fellowship.myplanet.io/') Myplanet Fellowship
          |  is industry-based program. Fellows build skills in user experience design, agile development, product management within self-sufficient teams.
      
      //-YSDN Co.Create
      dt
        h4 Co-founder at 
          a(href='http://perpetuatingcuriosity.com') YSDN Co.Create
          span.dates 2010 &#8211; 2013

      dd 
        p Provided services in the areas of information design, branding, and print for clients within the startup and graphic design industries